production/models/classifier.pb filter=lfs diff=lfs merge=lfs -text
production/models/detector.pb filter=lfs diff=lfs merge=lfs -text
production/models/*.pb filter=lfs diff=lfs merge=lfs -text
production/models/*.ckpt* filter=lfs diff=lfs merge=lfs -text
production/models/yolo filter=lfs diff=lfs merge=lfs -text
production/models/yolo/model.ckpt-84.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
production/models/yolo/model.ckpt-84.index filter=lfs diff=lfs merge=lfs -text
production/models/yolo/model.ckpt-84.meta filter=lfs diff=lfs merge=lfs -text
production/models/yolo/yolov3.h5 filter=lfs diff=lfs merge=lfs -text
production/models/yolo/yolov3.weights filter=lfs diff=lfs merge=lfs -text
production/models/yolo/checkpoint filter=lfs diff=lfs merge=lfs -text
production/models/classifier_mobilenet_correct_grayscales.pb filter=lfs diff=lfs merge=lfs -text
demo.mp4 filter=lfs diff=lfs merge=lfs -text
day_ssd.mp4 filter=lfs diff=lfs merge=lfs -text
demo_ssd.mp4 filter=lfs diff=lfs merge=lfs -text
demo_yolo.mp4 filter=lfs diff=lfs merge=lfs -text
night_ssd.mp4 filter=lfs diff=lfs merge=lfs -text
